-r base-requirements.in
# build package
hatch
jeepney # depdendant of keyring -> hatch
SecretStorage # depdendant of keyring -> hatch
# tools
black==22.3.0
codecov
coverage
isort
pylint
pytest-cov
pytest
pytest-xdist[psutil]
pytest-asyncio
build[virtualenv]
