test --test_output=errors
test --test_env=PYTEST_PLUGINS=bentoml.testing.pytest.plugin

# Dynamic link cause issues like: `dyld: malformed mach-o: load commands size (59272) > 32768`
# https://github.com/bazelbuild/bazel/issues/9190
build:macos --dynamic_mode=off
